*{
 margin: 0;
 padding: 0;
 text-align: center;
}
.choice {
    height: 100px;
    width: 100px;
    font-size: 80px;
    border-radius: 5cm;
    padding: 2vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover{
    opacity: 0.5;
    cursor: pointer;
    background-color: black;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2cm;
    margin: 1cm;
}
h1 {
    color:red;
    background-color: gold;
}

.score_board {
    display: flex;
    justify-content: center;
    gap: 2cm;
    font-size: 10vmin;
    align-items: center;
    margin: 1cm;
}
#user , #comp {
    font-size: 15vmin;
}
#msg {
    background-color: black;
    color: white;
    font-size: 10vmin;
    display: inline;
    border-radius: 2vmin;
}
.reset {
    margin: 1cm;
}